{% layout "layout.liquid" %} {% block content %}
<body class="homepage">


<div class="wrap">
    <a href="/user/signup"><button class="glow-on-hover" type="button">Signup</button></a>
    <a href="/user/login"><button class="glow-on-hover" type="button">Login</button></a>
  </div>
</body>
{% endblock %}