{% layout "layout.liquid" %} {% block content %}
<h1>MY Anime Watch List</h1>
<div>
    <a href="/views/animeIndex.liquid"><button> Add another Anime</button></a>
  {% for anime in animes %}
  <article>
    <a href="/anime/{{ anime._id }}">
      <h2>
        {{anime.name}}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}