{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/anime/{{anime._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Add a new Anime</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter fruit name" />
      </label>
    </fieldset>
    <input type="submit" value="add a new anime" />
  </form>
</div>
