{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/anime/{{anime.id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit Anime</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="ENTER ANIME" />
      </label>
      <label>
        IMAGE: <input type="file" name="image" placeholder="ENTER IMAGE"/>
       </label>
       <label>
         DESCRIPTION: <input type="text" name="description" placeholder="ENTER DESCRIPTION"/>
       </label>
    </fieldset>
    <input type="submit" value="Edit anime" />
  </form>
</div>
{%endblock%}