{% layout "layout.liquid" %} {% block content %}
<div class=“d-flex flex-row align-items-center”>
    <a href="/anime/new"><button> Add another Anime</button></a>
    <a href="/user/login"><button>log out</button></a>
    <h1>My Watch list</h1>
  {% for anime in animes %}
  <article>
    <a href="/anime/{{ anime._id }}">
      <h2>
        {{anime.name}}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
