{% layout "layout.liquid" %} {% block content %}
<body class="index">
<div>
    <a href="/anime/new"><button class="glow-on-hover" type="button"> Add another Anime</button></a>
    <a href="/user/login"><button class="glow-on-hover" type="button">log out</button></a>
    <br>
    <br>
    <h1> My Watch list </h1>
  {% for anime in animes %}
  <article>
    <a href="/anime/{{ anime._id }}">
      <h2>
        {{anime.name}}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
</body>
{% endblock %}
