{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/anime/new" method="POST">
    <fieldset>
      <legend>Add a new Anime</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter name of anime" />
      </label>
     
    </fieldset>
    <input type="submit" value="add a new anime" />
  </form>
</div>
{% endblock %}
