{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/anime/new" method="POST">
    <fieldset>
      <legend>Add a new Anime</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="ENTER NAME OF ANIME" />
      </label>
      <label>
     IMAGE: <input type="file" name="image" placeholder="ENTER IMAGE"/>
    </label>
    <label>
      DESCRIPTION: <input type="text" name="name" placeholder="ENTER DESCRIPTION"/>
    </label>
    </fieldset>
    <input type="submit" value="add a new anime" />
  </form>
</div>
{% endblock %}
