{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>
          <h2>
            {{ anime.name }} 
          </h2>
          <h3>{{ anime.image }}</h3>
          <a href="//{{ anime._id }}/edit"><button>Edit</button></a>
          <form action="/anime/{{ anime._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
          <a href="/anime/"><button>Back to Main</button></a>
        </article>
      </div>
{% endblock %}
