{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>
          <h2>
            {{ anime.name }} 
          </h2>
          <img src="{{ anime.image }}" >
           <br>
          <a href="/anime/{{ anime._id }}/edit"><button>Edit</button></a>
          <form action="/anime/{{ anime._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
          <textarea name="ener comment here" id="" cols="30" rows="10"></textarea>
          <a href="/anime/"><button>Back to List</button></a>
        </article>
      </div>
{% endblock %}
